body{
    background-color: #f1efed;
    color: #262727;
}

.logo{
    width:12%;
    height: 12%;
    margin-left: 1rem;
}

#topBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logout{
    text-align: right;
    margin-right: 1rem;
    background-color: #4b4d43;
    color:#f1efed;
    padding: 0.4rem;
    border-radius: 0.3rem;
    font-size: 1.37rem;
    text-decoration: none;
}

#grid-home{
    padding:4rem;
    padding-top: 15rem;
    padding-bottom: 15rem;
    background-image: url("images/backHome.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.text{
    background-color: #f1efedcb;
    padding: 2rem;
    width: 35rem;
    text-align: center;
    font-size: 1.37rem;
}

#welcome{
    font-size: 2.7rem;
}

#textWrapper{
    display: flex;
    justify-content: center; 
    align-items: center;
}

footer {
    background-color: #d6d3cb;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
    margin-top: 1rem;
}

.social-media-icons img {
    width: 2rem;
    height: 2rem;
    margin-right: 0.1rem;
}

#email{
    text-decoration: none;
    color: #262727;
}