.info {
   background-color: #d6d3cb;
   font-size: 16px;
   color: #333;
   margin-top: 20px;
   margin-right: 10px;
   margin-left: 10px;
   padding-left: 20px;
   padding-bottom: 20px;
   border: 1px solid #ccc;
   border-radius: 5px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
  
.info h1 {
   font-size: 24px;
}
  
.info p {
   margin: 5px 0;
}

.p{
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
   margin-left: 2rem;
   margin-right: 2rem;
}